[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git

[submodule "bundle/csscomb"]
	path = bundle/csscomb
	url = https://github.com/miripiruni/CSScomb-for-Vim.git

[submodule "bundle/drawit"]
	path = bundle/drawit
	url = https://github.com/vim-scripts/DrawIt.git

[submodule "bundle/evervim"]
	path = bundle/evervim
	url = https://github.com/kakkyz81/evervim.git

[submodule "bundle/neobundle"]
	path = bundle/neobundle
	url = https://github.com/Shougo/neobundle.vim

[submodule "bundle/piv"]
	path = bundle/piv
	url = https://github.com/spf13/PIV.git

[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git

[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git

[submodule "bundle/splice"]
	path = bundle/splice
	url = https://github.com/sjl/splice.vim.git

[submodule "bundle/vikitask"]
	path = bundle/vikitask
	url = https://github.com/tomtom/vikitasks_vim.git

[submodule "bundle/erlang-skeletons"]
	path = bundle/erlang-skeletons
	url = https://github.com/aerosol/vim-erlang-skeletons

[submodule "bundle/nerdtreetabs"]
	path = bundle/nerdtreetabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git

[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
    
[submodule "bundle/symfony"]
	path = bundle/symfony
	url = https://github.com/docteurklein/vim-symfony.git

[submodule "bundle/organizor"]
	path = bundle/organizor
	url = https://github.com/hsitz/VimOrganizer.git

[submodule "bundle/outliner"]
	path = bundle/outliner
	url = https://github.com/vimoutliner/vimoutliner.git

[submodule "bundle/webapi"]
	path = bundle/webapi
	url = https://github.com/mattn/webapi-vim

[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc

[submodule "bundle/vimshell"]
	path = bundle/vimshell
	url = https://github.com/Shougo/vimshell.git

[submodule "bundle/wiki"]
	path = bundle/wiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = https://github.com/Shougo/neosnippet
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "bundle/vimshell-ssh"]
	path = bundle/vimshell-ssh
	url = https://github.com/ujihisa/vimshell-ssh.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/open-browser"]
	path = bundle/open-browser
	url = https://github.com/tyru/open-browser.vim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/viki"]
	path = bundle/viki
	url = https://github.com/tomtom/viki_vim.git
[submodule "bundle/rebar"]
	path = bundle/rebar
	url = https://github.com/mbbx6spp/vim-rebar.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/oscarh/vimerl.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/ref"]
	path = bundle/ref
	url = https://github.com/thinca/vim-ref.git
[submodule "bundle/twig"]
	path = bundle/twig
	url = https://github.com/beyondwords/vim-twig.git
[submodule "bundle/plenote"]
	path = bundle/plenote
	url = https://github.com/mattn/vimplenote-vim.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/trag"]
	path = bundle/trag
	url = https://github.com/tomtom/trag_vim.git
[submodule "bundle/gmail"]
	path = bundle/gmail
	url = https://github.com/yuratomo/gmail.vim.git
[submodule "bundle/w3m"]
	path = bundle/w3m
	url = https://github.com/yuratomo/w3m.vim
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails
[submodule "bundle/tables"]
	path = bundle/tables
	url = https://github.com/nvie/vim-rst-tables.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/php-namespace"]
	path = bundle/php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
[submodule "bundle/tmuxify"]
	path = bundle/tmuxify
	url = https://github.com/mhinz/vim-tmuxify.git
[submodule "bundle/forrest"]
	path = bundle/forrest
	url = https://github.com/hlissner/vim-forrestgump.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/easytags"]
	path = bundle/easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/SrcExpl"]
	path = bundle/SrcExpl
	url = https://github.com/wesleyche/SrcExpl
